@page "/change-password"
@using System.ComponentModel.DataAnnotations
@* @using PSO.Merchant.Spa.Utility.Attribute *@


<PageTitle>Change Password</PageTitle>


<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">

        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12 my-5">

                <div class="card">
                    <div class="card-header">
                        <h5>Change Password</h5>
                    </div>

                    <div class="card-body">

                       <EditForm Model="model" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Current Password</label>
                                <InputText type="password" placeholder="Current Password" class="form-control" @bind-Value=model.CurrentPassword />
                                <ValidationMessage For="@(() => model.CurrentPassword)" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">New Password</label>
                                <InputText type="password" placeholder="New Password" class="form-control" @bind-Value=model.Password />
                                <ValidationMessage For="@(() => model.Password)" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Confirm Password</label>
                                <InputText type="password" placeholder="Confirm Password" class="form-control" @bind-Value=model.ConfirmPassword />
                                <ValidationMessage For="@(() => model.ConfirmPassword)" />
                            </div>

                            <div class="d-grid mt-4 mb-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          
                        </EditForm>

                    </div>
                </div>

            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>



@inject IUserService _userService
@inject NavigationManager NavManager
@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;


    private ChangePasswordRequest model { get; set; } = new();


    List<ToastMessage> messages = new List<ToastMessage>();
    protected override async void OnInitialized()
    {
    }

    private async Task Submit()
    {
        var result = await _userService.ChangePassword(model);
        if (result.statusCode == 200)
        {
            ToastService.Notify(new(ToastType.Success, $"{result.message}"));
            NavManager.NavigateTo($"/login");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, $"{result.message}"));
        }
    }

    public class ChangePasswordRequest
    {
        [Required(ErrorMessage = "Current Password is required")]
        public string? CurrentPassword { get; set; }

        [Required(ErrorMessage = "New Password is required")]
        [NotEqual(nameof(CurrentPassword), ErrorMessage = "Current Password and Current password should be different")]
        public string? Password { get; set; }

        [Required(ErrorMessage = "Confirm Password is required")]
        [Compare(nameof(Password),ErrorMessage = "New Password and Cofirm Password does not match")]
        [NotEqual(nameof(CurrentPassword), ErrorMessage = "Current Password and Current password should be different")]
        public string? ConfirmPassword { get; set; }
    }


}